<!DOCTYPE html> 
<html xmlns:th="https://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>User Registeration Page</h1>
<form action="register" method="post"/>
USERNAME: <input type="text" name="username"/><br/>
PASSWORD: <input type="password" name="password"/><br/>
ROLE:
<input type="checkbox" name="roles" value="ADMIN"/> ADMIN<br/>
<input type="checkbox" name="roles" value="USER"/>  USER<br/>
   <input type="submit" value="Register"/><br/>
</form>

</body>
</html>